<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Environment</key>
	<string>DEV</string>
	<key>API_BASE_URL</key>
	<string>base_url_here</string>
	<key>API_KEY</key>
	<string>api_key_here</string>
	<key>ONESIGNAL_APP_ID</key>
	<string>one_signal_app_id_here</string>
	<key>ENCRYPTION_KEY</key>
	<string>encryption_key_here</string>
</dict>
</plist>
